/* Register Form */

body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../assets/bg.jpg');
    align-items: center;
}

.register-box {
    background-color: white;
    border: 1px solid;
    margin-top: 40px;
    text-align: center;
    padding: 50px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
}

img {
    height: 100px;
    width: 100px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(1, 24, 53);
    color: white;
    cursor: pointer;
}

p {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Login Form */

.login-box {
    background-color: white;
    border: 1px solid;
    margin-top: 70px;
    text-align: center;
    padding: 50px;
    box-shadow: 5px 5px 10px black;
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
}

